* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

/* nav bar */
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    font-size: 20px;

}

.header-name {
    margin-right: auto;
    text-decoration: none;
    font-weight: bolder;
    color: #030008;
}

.header-name:hover {
    color: #b094ff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    color: #030008;
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;

}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #b094ff;
}

/* heading-section */

.welcome-sec {
    margin-top: 150px;
    padding: 30px 30%;
    font-size: 24px;
    font-weight: 500;
}

.bold-intro, .bold-title, .project-header {
    font-size: 45px;
    font-weight: bold;
    
}

.project-header {
    margin: 30px 10%;
    background
}

#intro-subscript {
    margin-top: 100px;
    margin-bottom: 30%;
    font-size: 18px;
    font-weight: bold;
    font-family: karla, sans-serif;
}





.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b094ff;
    color: white;
    padding: 30px 30%;
    font-size: 32px;
    font-weight: bold;
}

.footer-links {
    font-size: 18px;
    margin-left: 150px;
    list-style: none;
}

.footer-links li {
    margin-top: 10px;
}

.footer-links li a {
    text-decoration: none;
    font-family: karla, sans-serif;
    color: #382275;
}

.footer-links li a:hover {
    color: white;
}

.project {
    display: flex;
    width: 700px;
    height: 700px;
    margin: 30px 30%;
    margin-bottom: 10px;

}

.login,
.signup {
    margin: 20px;
    size: 50%;
    width: 36%;
    height: 78%;
}
.scroll2{
    padding: 30px 10%;
}

.overview-table{
   width: 40%;
   margin-bottom: 5%;
}

.project1-inside {
    margin: 0px;
    
}
.login2, .signup2 {
    width: 15%;
}

.bold-title {
    color:#030008;
    display: block;
    padding-left: 30%;
    margin-top: 5%;
    font-family: karla;
}

.skills {
    list-style: none;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.skills li {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}

.project-norm-text {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.aritzia {
    width: 40%;
}

.aritzia-main {
    width: 600px;
    height: 400px;

}