* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

/* nav bar */
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    font-size: 20px;

}

.header-name {
    margin-right: auto;
    text-decoration: none;
    font-weight: bolder;
    color: #030008;
}

.header-name:hover {
    color: #b094ff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    color: #030008;
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;

}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #b094ff;
}

/* heading-section */

.welcome-sec {
    margin-top: 150px;
    padding: 30px 30%;
    font-size: 24px;
    font-weight: 500;
    
}

.bold-intro, .bold-title, .project-header {
    font-size: 45px;
    font-weight: bold;
    
}

.project-header {
    margin: 30px 10%;
    background
}

#intro-subscript {
    margin-top: 350px;
    margin-bottom: 5%;
    font-size: 18px;
    font-weight: bold;
    font-family: karla, sans-serif;
}





.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b094ff;
    color: white;
    padding: 30px 30%;
    font-size: 32px;
    font-weight: bold;
}

.footer-links {
    font-size: 18px;
    margin-left: 150px;
    list-style: none;
}

.footer-links li {
    margin-top: 10px;
}

.footer-links li a {
    text-decoration: none;
    font-family: karla, sans-serif;
    color: #382275;
}

.footer-links li a:hover {
    color: white;
}

.project {
    display: flex;
    width: 700px;
    height: 700px;
    margin: 30px 30%;
    margin-bottom: 10px;

}

.login,
.signup {
    margin: 20px;
    size: 50%;
    width: 36%;
    height: 78%;
}


.overview-table{
   width: 40%;
   margin-bottom: 5%;
}

.project1-inside {
    margin: 0px;
    
}
.login2, .signup2 {
    width: 15%;
}

.bold-title {
    color:#030008;
    display: block;
    padding-left: 30%;
    margin-top: 5%;
    font-family: karla;
}

.skills {
    list-style: none;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.skills li {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}

.project-norm-text {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.aritzia {
    width: 40%;
}

.aritzia-main {
    width: 600px;
    height: 400px;

}


.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 0px; 
    padding-bottom: 200px;
    margin: 0 auto;
    width: max-content;
  }

  .card {
    background: #e3e1e6;
    height: 400px;
    width: 300px;
    font-size: 18px;
    color: black;
    border-radius: 20px;
    
    /*margin: 2em;*/
    display: block;
    align-items: top;
    box-shadow: 0 0 5px 0px rgb(126, 126, 126);
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none; 
  }

  
  
  .card:hover {
    transform: rotate(0);
    box-shadow: 0 0 20px #382275;
    
  }
  
  .card h1 {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.2em;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.2em;
  }
  
  .scroll2 {
    padding: 30px 10%;

  }
  .card-image {
    height: 50%; 
    width: 300px;
    opacity: 100%;
    border-radius: 20px;
    

  }

  .card-image-vert {
    height: 50%; 
    width: 32%;
    opacity: 100%;
    margin-left: 0px;
    border-radius: 20px;

  }

  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 12px;
    background: rgba(190, 186, 186, 0.9);
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    
  }
  
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  

  .card-image:hover {
    opacity: 100%;
  }
  
  .card:hover {
    color: black;
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }

  
  .card-text-contain {
    margin: 20px;
    padding: 10px;
    
  }